@tailwind base;
@tailwind components;
@tailwind utilities;


 
.curved-bg{
  position: relative;
  overflow: hidden;
}


.curved-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat ;
  background-size: cover;
  background-image: url("https://st3.depositphotos.com/1010710/12735/i/450/depositphotos_127357718-stock-photo-customer-service-representative-using-laptop.jpg");
/* Replace with your background color */
  clip-path: ellipse(150% 100% at 50% 0%);
}

.curved{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat ;
  background-size: cover; 
  clip-path: ellipse(150% 100% at 50% 0%);
}







.card-font{
  font-family: "PT Sans", sans-serif;
}
.about-font{
  font-family: "Roboto Condensed", sans-serif;
}
body{
  font-family: "Poppins", sans-serif;
  background-color: rgba(248, 249, 249, 0.479);
 
}
 .service{
  box-shadow: 4px 12px 47px 0 rgba(0,0,0,0.1);
 }
 a.active{
  font-size: 18px;
  font-weight: 500; 
  
  color:#10b3f0 ;
 }
 .card.image-full:before{
  border-radius: 0px;
  opacity: .10;
 }
 .card-button{
  transform: translateY(150px);
  transition: all .2s ease-out;
 }

 .card:hover .card-button{
  transform: translateX(0px);
  transition: all .2s ease-out;
  border-bottom: 2px solid wheat;
  
 }
 .card-content{
  transform: translateX(450px);
  transition: all .5s ease-out;
 }
 .card:hover .card-content{
  transform: translateX(0px);
  transition: all .5s ease-out;
 }
 .card:hover .cad-bg-image{

  transform: translate(120px, 20%) scale(2.2);
  transition: all .8s ease-in-out;
  opacity: 0;


 }